body {
  background-color: black;
  color: #fff;
  margin: 0px;
  font-family: monospace;
  font-size: 17px;
  line-height: 1.5;
}

header {
  background-color: #222;
  padding: 5px;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.prompt {
  align-items: center;
  margin: 6px;
  font-weight: bold;
}

.prompt:before {
  content: "printed@printedz.tech ~> ";
  color: yellowgreen;
}


.output {
  margin-left: 20px;
  margin: 6px;
  color: #9c6cf5;
}

div.output a {
  color: lightgreen;
}

.container {
  display: flex;
  flex-direction: column;
}

#chromium {
  font-size: 1em;
}