@keyframes slidein {
  from {
    /* pushes the sun down past the viewport */
    transform: translateY(110vh);
  }
  to {
    /* returns the sun to its default position */
    transform: translateY(0);
  }
}

body {
  background-color: black;
  color: #fff;
  margin: 0px;
  font-family: monospace;
  font-size: 17px;
  line-height: 1.5;
  /* animation: 3s linear 1s infinite alternate slidein; */
}

header {
  background-color: #222;
  padding: 5px;

}
/* header:hover {
  /* transform: skew(-0.2deg, -0.2deg); 
} */

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: aqua;
}

.prompt {
  align-items: center;
  margin: 6px;
  font-weight: bold;
}

.prompt::before {
  content: "printed@printedz.tech ~> ";
  color: yellowgreen;
}


.output {
  margin-left: 20px;
  margin: 6px;
  color: #9c6cf5;
}

div.output a {
  color: lightgreen;
}

div.output a:hover{
  color: deepskyblue;
}

.telemetry {
  border: solid thick rgb(243, 155, 255);
  border-radius: 0.2em;
  border-width: 1.5px;
  padding: 6px 9px;
  /* max-width: 600px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 75%; */
}

@media (max-width: 767px) {
  .telemetry {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .telemetry {
    width: 60%;
  }
}







