body {
  background-color: black;
  color: #fff;
  margin: 0px;
  font-family: monospace;
  font-size: 17px;
  line-height: 1.5;
  /* animation: 3s linear 1s infinite alternate slidein; */
}

header {
  background-color: #222;
  padding: 5px;

}
/* header:hover {
  /* transform: skew(-0.2deg, -0.2deg); 
} */

a {
  color: blueviolet;
  text-decoration: none;
}
header a {
  color: #F542D6
}

a:hover {
  text-decoration: underline;
  color: rgb(251, 0, 121);
}

.prompt {
  align-items: center;
  margin: 6px;
  font-weight: bold;
}

.prompt::before {
  content: "printed@printedz.tech ~> ";
  color: yellowgreen;
}


.output {
  margin-left: 20px;
  margin: 6px;
  color: #b989e6;
}

div.output a {
  /* color: rgb(229, 139, 199); */
  color: lightsalmon;
  text-decoration: underline;
}

div.output a:hover{
  color: rgb(255, 60, 60);
}


#embed-maniac {
  display: flex;
  align-items: center;
  justify-content: center;
}

#embed-maniac iframe {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='auto' width='100%'><text x='35' y='75' fill='honeydew' font-size='20'>Maniac by Michael Sembello</text></svg>");
}

iframe {
  border-color: mediumspringgreen;
  border-radius: 0.9vw;
  border-width: 0.3vw;
  border-style: outset;
}

@media (max-width: 800px) {
  iframe {
    border-width: 1vw;
    /* margin-left: 30%; */
  }
}
#song-month {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 1.5em;
}












